<div class="row">
  <div class="col-xs-12 col-md-6">
    <img src="/assets/no.jpg">
    <h2>Our flower natural</h2>
  </div>
  <div class="col-xs-12 col-md-6">
    <img src="/assets/re.jpg">
    <h2>Quality Not quantity</h2>
  </div>
</div>
