<div class="container-fluid anchor bg-workandabout" id="workpage">
  <div class="resize intro">
    <h1>Our Products</h1>
    <div id="work">
<div class="col-md-4 col-xs-12 responsive padding-0">
    <a href="/assets/no.jpg" class="work-img"> <img class="photo" src="/assets/no.jpg" style="border: 2px solid dodgerblue;"> <span class="info" style="display: none;"><p class="proj-title"></p> 'we are the best'</span> </a>
</div>
</div>
</div><!-- end workpage -->



