<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>Thank you For your Trust in our products and services</p>
    </div><!-- / panel-body -->
  </div><!-- / panel -->
  <%= link_to 'Back', static_pages_landing_page_path, class:"btn btn-default" %>
</div><!-- / row -->
