//Page styling
//Landing_page




//Carousel
#carousel-generic {
margin: 30px auto;
}

.carousel-inner {
  margin: auto;
}

.carousel-control {
  opacity: 7;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}  









